.blog-img{
    display: block;
}
#blog-img-1{
    background: url(../../../../public/img/blog/image_1.jpg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#blog-img-2{
    background: url(../../../../public/img/blog/image_2.jpg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#blog-img-3{
    background: url(../../../../public/img/blog/image_3.jpg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
