
.section-img-content{
    width: 400px;
    height: 590px;
    background: url(../../../../public/img/me/msg317320486-21967_prev_ui.png) no-repeat;
    background-size: cover;
    margin-top: 6.5rem;
}
