@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Vazir;
    src: url("../public/Fonts/Quicksand-Regular.ttf");
  }
  @font-face {
    font-family: IRANSans;
    src: url('../public/Fonts/IRANSans/IRANSans.ttf');
}
}


body {
  background-color: black;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: IRANSans;
}
p {
  color: #99999999;
}
* {
  color: white;
  transition: all 0.1s;
}

.header-text {
  @apply text-[5rem] font-bold relative before:absolute before:left-[-2rem] before:opacity-10 before:text-[8rem] before:font-bold before:text-white;
}
.btn {
  @apply bg-yellow-color text-black  rounded-full;
}
.overlay {
  @apply absolute inset-x-0 inset-y-0 bg-yellow-color opacity-0  transition-all duration-300 hover:opacity-70;
}
.icon {
  @apply fill-yellow-color text-6xl;
}
.form-input {
  @apply w-full h-20 p-6 outline-none rounded-xl border border-neutral-400 text-2xl text-[#191919];
}
