
.item-nav-bar-link::after{
    content: "";
    position: absolute;
    top: 115%; 
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ffbd39;
    transition: width 0.3s, left 0.3s;
    transform-origin: left;
}
.item-nav-bar-link:hover::after{
    width: 100%;
    left: 0;
}

.side-bar-en {
    width: 250px;
    height: 100vh;
    background-color: black;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    left: -80rem;
    z-index: 999;
    position: absolute;
    transition: all .3s;
}
.side-bar-en.active {
    left: 0;
}
.side-bar-fa {
    width: 250px;
    height: 100vh;
    background-color: black;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    right: -80rem;
    z-index: 999;
    position: absolute;
    transition: all .3s;
}
.side-bar-fa.active {
    right:  0;
}